
html, body{
	height: 100%;
	width: 100%;
}

body{
font-family: 'Lato', sans-serif;

  background-image:
    radial-gradient(
      #eee,
      #777
    );
}


/*hero*/
.navbar-md{
	background: repeating-linear-gradient(
  -55deg,
  #eee,
  #eee 1px,
  transparent 1px,
  transparent 5px
);
	margin-bottom: 1em;
}

.brand img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	height: 30%;
	width: 30%;
}

/*navbar*/
.navigation{
	padding: 1.5em 1em 1em 1em;
	background-color: #fff;
	border: 2px solid #eee;
	box-shadow: 1px 1px 3px #999;
	margin: 2em;
}

.navigation ul li a{
	text-decoration: none;
	color: #555;
	font-size: 1.3em;
	font-weight: 300;
	padding: 2em;
	transition: all .6s;
}

.navigation ul li a:hover{
	text-decoration: none;
	color: rgba(255,21,47, .7);
}

.navigation ul li a:active{
	outline: none;
}

.navigation ul li a:focus{
	outline: none;
}

.navigation ul li{
	border-right: 1px solid #999;
}

.navigation ul li:nth-last-child(1){
	border-right: 0;
}

/* content */

	/*portfolio*/

div.text-center{
	padding: 2em;
}

.portfolioColumn{
	padding: 2px;
	position: relative;
}

.imgDescription {	
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2px;
  border: 0;
  background: rgba(85, 85, 85, 0.6);
  color: #fff;
  font-size: 2em;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  padding-top: 6em;

 }

 .portfolioColumn a:hover .imgDescription {
  visibility: visible;
  opacity: 1;
  padding-top: 5em;
}

.portfolio-view img{
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
}

/* FOOTER */
.site-footer{
background-color: #242424;    
margin-top: 30px;    
}

.botton-footer{
border-top: 1px solid #777;
margin-top: 10px;
padding-top:10px;
color: #b2b2b2;  
text-align: center;  
}

.botton-footer p{
color: #E0FFA2;  
}

.address p{
	color: white;
} 

.about{
	list-style: none; 
	text-decoration: none;
	color: white;
}



/*go to portfolio*/

.footerNav h4{
	list-style: none; 
	text-decoration: none;
	color: white;
	font-size: 30px;
	padding-bottom: 10px;
}

.footerNav{
	padding-top: 30px;
	text-align: center;
	padding-bottom:30px;
}

.footerNav > a {
	list-style: none; 
	text-decoration: none;
	color: black;
	font-size: 20px;
	background-color: #eee;
	border: 1.5px solid white;
	padding: 5px;
	padding-bottom: 9px;
	border-radius: 4px;

}

.footerNav > a:hover{
	opacity: 0.8;
	border: 1.5px solid white;
	transition: opacity .5s ease;
}

.footerNav > a:not(:hover){
	opacity: 1;
	transition: opacity .5s ease;
}


.footerNav a:visited{
	color: #242424; 
}

/*Sobre*/
.footerAbout{
	border-top: 6px solid rgba(255,21,47, .7);
	padding-bottom: 1em;
}

.footerAbout h4{
	padding-top: 5px;
	color: rgba(255,21,47, .7);
	font-size: 2.5em;
	border-bottom: 1px solid rgba(255,21,47, .3);
	padding-bottom: .5em;
}

.footerAbout p{
	font-size: 1.5em;
	color: #888;
}

/*Contato*/
.footerContact{
	border-top: 6px solid #eee;
}

.footerContact h4{
	padding-top: 5px;
	color: #999;
	font-size: 2.5em;
	border-bottom: 1px solid #333;
	padding-bottom: .5em;
}

.address h5{
	font-size: 17px;
	color: #999;
	border-bottom: 1px solid #333;
	padding-bottom: 1em;
}

.footerContat p, .address p{
	font-size: 1.2em;
	color: #eee;
}


/*MEDIA*/

@media (max-width: 768px) {
	.navigation ul li a{
		font-size: 1em;
		padding: .5em;
	}

	.portfolioColumn a:hover .imgDescription {
	  visibility: visible;
	  opacity: 1;
	  padding-top: 3.5em;
	}
}


