
<!DOCTYPE html>
<html lang="en" ng-app="PortfolioApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lucas Correa Fotografia - Porto Alegre / RS</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Google's fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--my CSS-->
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body ng-controller="PortfolioController as Portfolio">

  <!--NAV BAR-->
  <nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">   
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnavbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <p><span class="brand">LUCAS</span>CORREA <span class="fotoBrand"><strong> FOTOGRAFIA</strong></span></p>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topnavbar">
          <ul class="nav navbar-nav navbar-right ">
            <li class=""><a href="#portfolio" class="scroll ">PORTFOLIO</a></li>
            <li class=""><a href="#site-footer" class="scroll ">SOBRE</a></li>
            <li class=""><a href="#site-footer" class="scroll ">CONTATO</a></li>
            <a href="#"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>  

  <!-- CONTENT -->
  <div class="portfolio" id="portfolio" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12 portDiv" ng-repeat="thumbnail in Portfolio.fotos">
        <a href=".{{thumbnail.alt}}" data-toggle="modal">
          <img class="img-responsive hover-scale" ng-src="{{thumbnail.src}}" alt="{{thumbnail.alt}}">
          <p class="imgDescription">{{thumbnail.desc}}</p>
        </a>
        </div>
      </div>
    </div>  
  </div>

  <!-- Portfolio MODAL + CAROUSEL -->
  <div class="modal fade bs-example-modal-lg onze20" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white, padding: 10px"><span aria-hidden="true">&times;</span></button> 
            <div ng-repeat="ensaios in Portfolio.ensaio">
              <div ng-repeat="ensaio in ensaios.onze20">
                <img ng-src="{{ensaio.src}}" class="img-responsive" alt="{{ensaio.alt}}">
              </div>  
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg victoria" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white, padding: 10px"><span aria-hidden="true">&times;</span></button> 
            <div ng-repeat="ensaios in Portfolio.ensaio">
              <div ng-repeat="ensaio in ensaios.victoria">
                <img ng-src="{{ensaio.src}}" class="img-responsive" alt="{{ensaio.alt}}">
              </div>  
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg ricardomoreno" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white, padding: 10px"><span aria-hidden="true">&times;</span></button> 
            <div ng-repeat="ensaios in Portfolio.ensaio">
              <div ng-repeat="ensaio in ensaios.ricardomoreno">
                <img ng-src="{{ensaio.src}}" class="img-responsive" alt="{{ensaio.alt}}">
              </div>  
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg bailedopiu" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white, padding: 10px"><span aria-hidden="true">&times;</span></button> 
            <div ng-repeat="ensaios in Portfolio.ensaio">
              <div ng-repeat="ensaio in ensaios.bailedopiu">
                <img ng-src="{{ensaio.src}}" class="img-responsive" alt="{{ensaio.alt}}">
              </div>  
            </div>
      </div>
    </div>
  </div>

    
  <!--FOOTER-->
  <div class='site-footer' id="site-footer">
      <div class="container">
        <div class= "row rowfooter">
          <div class="col-md-6 col-xs-6 footerAbout">
            <ul class="about">
              <li><h4>Sobre</h4></li>
              <li><p>Morador da capital gáucha, Lucas sempre foi um apaixonado pela fotografia, e hoje no seu dia-a-dia as lentes são uma de suas maiores paixões. Fotos ao ar livre, sob o sol, são muito atraentes, mas fotos em abientes fechados também agradam as lentes de Lucas.<br>-<br><em>“Fotografar é imortalizar um momento único ao qual não se poderá mais voltar, senão por meio daquele registro. Nada mais que um simples clique, um momento, um único e eterno registro.”</em></p></li>      
            </ul> 
          </div> 
          <div class= "col-md-6 col-xs-6 footerContact">
            <address class="address">
              <h4>Contato</h4>  
              <p>lucascorreafotografia@hotmail.com</p> </br>   
              <h5><strong>Área de atuação</strong></h5>  
              <p>Porto Alegre e região</p> </br>
              <h5><strong>Fone</strong></h5>
              <p>(051) 99191-9955</p> </br>   
              </address>
          </div>
          <div class="col-md-12 col-xs-12 footerPortfolioReturn">
            <div class="footerNav">
                <!-- <li><h4>Navegação</h4></li> -->
                <a href="#portfolio" class="scroll" ><i class="fa fa-chevron-up fa-lg"></i>&nbsp; Portfólio</a> </br>
            </div>
          </div> 
        </div> 
        <div class = "row">
          <div class ="botton-footer">  
            <h4>©Todos os direitos reservados Lucas Correa Fotografia. <h4>        
            <p>Desenolvido por <span class="MyLogo">| Matheus <br>| Gerlack</span></p>          
          </div>  
        </div>
      </div>  
  </div> 

  <scripts>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/app.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </scripts>    

</body>
</html>